.header {
    &_top {
        background: $bright_color;
        padding: 10px 0;
    }
    &_bottom {
        box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    }
    &_other {
        display: flex;
    }
}
