.post {
    border: 2px solid #f0f0f0;
    border-radius: 3px;
    margin: 0 0 50px;

    &_image {
        width: 100%;
    }
    &_content {
        padding: 0 56px 50px;
    }
    &_footer {
        border-top: 2px solid #e0e0e0;
        padding: 30px 0 0;
    }
}