.product-card {
    min-width: 265px;
    width: 30%;
    box-shadow: 0 0 0 2px #f0f0f0;
    margin: 0 0 30px;

    &__wide,
    &__main {
        display: flex;
        width: 100%;    
    }

    .catalog_grid__full & {
        width: 23%;
    }

    &_image {
        width: 100%;

        .product-card__wide & {
            width: 260px;
            flex-shrink: 0;
        }
        .product-card__main & {
            width: 48%;
            flex-shrink: 0;
        }
        .product-card__rtl & {
            order: 2;
        }
    }
    &_text {
        min-height: 375px;
        padding: 0 30px 30px;

        .product-card__wide &,
        .product-card__main & {
            min-height: 0;
        }
        .product-card__main & {
            padding-bottom: 0;
        }
    }
    &_title {
        @extend %heading-2;
        margin: 45px 0 10px;
    }
    &_bottom {
        border-top: 1px solid #f0f0f0;
        margin: 0 30px;
        padding: 30px 0;

        .product-card__wide & {
            padding: 0;
        }
    }
    &_price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 35px;
    }
    &_price-col {
        display: flex;

    }
    &_price-value {
        color: $link_color;
        @extend %heading-2;

        .product-card__rtl & {
            order: 2;
        }
    }
    &_price-old {
        font: 16px $font-family__heading;
        color: #ccc;
        margin: 0 0 0 3px;
        text-decoration: line-through;
    }
    button.button__filled {
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
    }
    &__main {
        button.button__filled {
            padding-left: 50px;
            padding-right: 50px;
            width: auto;
        }
        .number {
            margin: 0 30px;
        }
    }
}
