.product {
    width: 30%;
    box-shadow: 0 0 0 2px #f0f0f0;

    &_image {
        width: 100%;
    }
    &_title {
        @extend %heading-2;
        padding: 0 30px;
        margin: 45px 0 10px;
    }
    &_description {
        min-height: 150px;
        padding: 0 30px 30px;
    }
    &_bottom {
        border-top: 1px solid #f0f0f0;
        padding: 30px;
    }
    &_price {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &_price-value {
        color: $link_color;
        @extend %heading-2;
        margin: 0 3px 0 0;
    }
    &_price-old {
        font-family: $font-family__heading;
        color: #ccc;
        text-decoration: overline;
    }
}
